<!-- <app-layout></app-layout> -->
<div style="background-color: #f6f6f6; height: 100%;">
<mat-card class="wfull" style="background: #3f51b5" class="z-depth-2">
  <div style="float: right">
    <button mat-raised-button 
    color="primary"
    routerLink="/"><mat-icon>keyboard_backspace</mat-icon>back</button>
  </div>
  <div style="float: left">
    <span class="leftpad21" style="color: white;font-family:courier; font-size: 1.5rem;"><b>Data Collecter page</b></span>
  </div>
</mat-card>
<mat-horizontal-stepper [linear]="false" style="margin-top: 4rem; background-color: #f6f6f6" #stepper>
    <mat-step [stepControl]="formCollecting">
      <form [formGroup]="formCollecting">
        <mat-card>
          <h5>*All fields are mandatory</h5>
          <ng-template matStepLabel>Fill out your information</ng-template>
          <mat-form-field class="wfull">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" autocomplete="off" formControlName="name" required>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field class="wfull">
              <mat-label>Age</mat-label>
              <input matInput type="number" placeholder="Age" autocomplete="off" formControlName="age" required>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field class="wfull">
            <mat-select required formControlName="gender" placeholder="Gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-card>
      </form>
    </mat-step>
    <mat-step [stepControl]="formCollecting">
      <form [formGroup]="formCollecting">
        <ng-template matStepLabel>Collecting point</ng-template>
        <mat-card>
          <h2>Type the given sentence:  <span style="color: #f44336">indul a pap aludni</span></h2>
          The given sentence needs to be entered the number of times shown below. If a mistake is made the sentence is deleted automatically and the user is asked to retype the passcode.
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
          <mat-form-field class="wfull leftpad8">
              <mat-label>Number of times to collect</mat-label>
              <input matInput [readonly]="true" type="number" placeholder="Ex. 20" 
              formControlName="numberofcoll" 
              (input)="changedNumberOfColl($event.target.value)" 
              autocomplete="off" required>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field appearance="fill" class="wquarter">
              <mat-label>Type here</mat-label>
              <div *ngIf="counterIsNull==true; then withReadOnly else withoutReadOnly"></div>
                  <ng-template #withoutReadOnly>
                      <input matInput formControlName="typeword" 
                      (keydown)="onKeydown()"
                      (keyup)="onKeyup($event, stepper)" 
                      autocomplete="off" required>
                  </ng-template>
                  <!-- <ng-template #withReadOnly>
                      <input matInput formControlName="typeword"
                      [readonly]="true" placeholder="Finished" 
                      autocomplete="off" required>
                  </ng-template> -->
                  
          </mat-form-field>
          <mat-form-field class="wthird leftpad8">
              <mat-label>Count</mat-label>
              <input matInput type="number" [readonly]="true" autocomplete="off" formControlName="count">
          </mat-form-field>
          <mat-divider></mat-divider>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="resetCounterIsNull()">Next</button>
          </div>
        </mat-card>
      </form>
    </mat-step>
    <mat-step>
      <mat-card>
        <ng-template matStepLabel>Done</ng-template>
        <h2><p style="text-align: center">You are now done<mat-icon style="color:green; font-size: 50px">done_all</mat-icon></p></h2>
        <div style="text-align: center; margin-top: 5rem;">
          <button mat-raised-button 
          color="primary" (click)="save()"
          routerLink="/">Save</button>
          <button mat-raised-button 
          color="warn" style ="margin-left:1rem" 
          (click)="stepper.reset()">Reset</button>
        </div>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card>
        <h3 style="font-weight:normal; text-align: center">Your data has been collected. Please click <span style="font-weight:bold; color: #3f51b5">save</span> to register your keystroke dynamic, or <span style="font-weight:bold; color: #f44336">reset</span> to restart</h3>
      </mat-card>
    </mat-step>
</mat-horizontal-stepper>
</div>
