.wfull {
    width: 100%;
}

.whalf {
    width: 50%;
}

.wquarter {
    width: 75%;
}

.wthird {
    width: 24.4%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.leftpad8 {
    padding-left: 8px;
}

.leftpad21 {
    padding-left: 21px;
}

.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    height: 25px;
}

.mat-divider {
    border-top-width: 2rem;
    border-top-color: transparent;
}

.mat-form-field {
    font-weight: bold;
}