<div style="background-color: #f6f6f6; height: 100%" >
    <mat-card class="wfull" style="background: #3f51b5" class="z-depth-2">
        <div style="float: right">
            <button mat-raised-button 
            color="primary"
            routerLink="/"><mat-icon>keyboard_backspace</mat-icon>back</button>
        </div>
        <div style="float: left">
            <span class="leftpad21" style="color: white;font-family:courier; font-size: 1.5rem;"><b>Control Panel</b></span>
        </div>
    </mat-card>

    <div>
        <mat-card class="matcardBlock z-depth-2" style="margin-top: 3rem">
            <mat-card-content>
                <h2>Keystroke Data</h2>
                <div style="margin-top: 2rem">
                    <h2 style="text-align: left;font-weight:normal"><span style="font-weight:bold">Untrained: </span>{{dataToBeTrained}}</h2>
                    <span style="font-size: 1rem; font-weight: bold;">*training data collected on user login, that has not been processed</span>
                </div>
                <div style="margin-top: 2rem;">
                <button mat-raised-button 
                    color="primary"
                    (click)="train()"><mat-icon>donut_large</mat-icon>Train</button>
                </div>
            </mat-card-content>
        </mat-card>

    <mat-card class="matcardBlock z-depth-2" style="margin-top: 10rem">
        <mat-card-content>
            <h2>Database management</h2>
            <div style="margin-top: 2rem">
                <h2 style="text-align: left;font-weight:normal"><span style="font-weight:bold">Total users:</span> {{ nrOfUsers }}</h2>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef><b style="font-size: 1rem;"> Id </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef><b style="font-size: 1rem;"> Name </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nrofdata">
                        <th mat-header-cell *matHeaderCellDef><b style="font-size: 1rem;"> Nr. Data </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.nrofdata}} </td>
                    </ng-container>
                    <ng-container matColumnDef="correctlogins">
                        <th mat-header-cell *matHeaderCellDef><b style="font-size: 1rem;"> Correct logins </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.correctlogins}} </td>
                    </ng-container>
                    <ng-container matColumnDef="incorrectlogins">
                        <th mat-header-cell *matHeaderCellDef><b style="font-size: 1rem;"> Incorrect logins </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.incorrectlogins}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totallogins">
                        <th mat-header-cell *matHeaderCellDef><b style="font-size: 1rem;"> Total logins </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.totallogins}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div>
                <button mat-raised-button 
                color="warn"
                (click)="resetdatabase()"><mat-icon>settings_backup_restore</mat-icon>Reset database</button>
                <button mat-raised-button 
                style="margin-left: 1rem;"
                color="primary"
                (click)="savetofile()"><mat-icon>save_alt</mat-icon>Save to file</button>
            </div>
            
        </mat-card-content>
        <mat-divider></mat-divider>
    </mat-card>
    </div>
    
</div>