<div style="background-color: #f6f6f6; height: 100%" >
    <mat-card class="wfull" style="background: #3f51b5" class="z-depth-2">
        <h2 mat-dilog-title class="leftpad21" style="color: white;font-family:courier">Main user page: <span style="font-size:20px">{{userName}}</span></h2>
    </mat-card>

    <mat-card class="matcardBlock z-depth-2" style="margin-top: 5rem">
        <mat-card-content>
            <h3>User successfully logged in</h3>
            <mat-divider style="border-top-width: 2rem;
            border-top-color: transparent"></mat-divider>
            <div style="margin-top: 5rem">
                <h2 style="text-align: left;font-weight:normal"><span style="font-weight:bold">User Name:</span> {{ userName }}</h2>
                <mat-divider></mat-divider>
                <div style="margin-top: 2rem">
                <!-- <h2 style="text-align: left;font-weight:normal"><span style="font-weight:bold">Score:</span> {{ score }}</h2> -->
                <!-- <h2 style="text-align: left;font-weight:normal"><span style="font-weight:bold">Log probability:</span> {{ log_prob }}</h2> -->
                <!-- <h2 style="text-align: left;font-weight:normal"><span style="font-weight:bold">Probability:</span> {{ prob }}</h2> -->
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-divider style="border-top-width: 2rem;
            border-top-color: transparent"></mat-divider>
            <!-- <div style="margin-top: 5rem">
                <button mat-raised-button 
                        color="primary"
                        routerLink="/">
                        Logout
                </button> -->
            <!-- </div> -->
        </mat-card-content>
    </mat-card>

    <mat-card class="matcardBlock z-depth-2" style="margin-top: 5rem; height: 10rem">
        <mat-card-content>
            <h3>Please give us a feedback</h3>
            <h3 style="font-weight:normal">Is it your user page?</h3>
            <div style="margin-top: 3rem">
                <button mat-raised-button 
                        style="color:green"
                        (click)="correctUser()"
                        routerLink="/">
                        Yes
                </button>
                <button mat-raised-button 
                        style="color:red; margin-left: 1rem"
                        (click)="inCorrectUser()"
                        routerLink="/">
                        No
                </button>
            </div>
        </mat-card-content>
    </mat-card>

</div>