<mat-menu #appMenu="matMenu">
    <button routerLink="/data-collecter" mat-menu-item>
        <mat-icon>accessibility</mat-icon>
        Collect Data
    </button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>