.wfull {
    width: 100%;
    border: none !important;
}

.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    height: 25px;
}

.whalf {
    width: 50%;
}

.wquarter {
    width: 75%;
}

.wthird {
    width: 24.4%;
}

.mat-grid-tile {
    background: #335d7e;
}

.matcardBlock {
    // padding-top: 45px;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    height: 25rem;
}

.mat-form-field {
    display: block;
}

.mat-divider {
    border-top-width: 6rem;
    border-top-color: transparent;
}

.leftpad21 {
    padding-left: 21px;
}