<div style="background-color: #f6f6f6; height: 100%">
    <mat-card class="wfull" style="background: #3f51b5"
    class="z-depth-2">
    <div style="float: right">
        <button mat-raised-button 
        color="primary"
        routerLink="/controlpanel"><span style="color: white">Control Panel</span></button>
    </div>
    <div style="float: left">
        <span class="leftpad21" style="color: white;font-family:courier; font-size: 1.5rem;"><b>Keynamics</b></span>
    </div>
    </mat-card>

    <mat-card class="matcardBlock z-depth-2" style="margin-top: 15rem">
        <mat-progress-bar mode="{{progressBarMode}}" value="{{(2-count)*50}}" color="primary"></mat-progress-bar>
        <mat-card-content>
            <form [formGroup]="formLogin">
                <h1>Log In</h1>
                <h3>The passcode is:</h3>
                <h3><p style="color: #f44336">indul a pap aludni</p></h3>
                <mat-form-field class="wfull" style="margin-top: 5rem" hintLabel="Entered the passcode 2 times">
                    <input matInput placeholder="Pass Code" 
                    formControlName="passcode"
                    (keydown)="onKeydown()"
                    (keyup)="onKeyup($event)" 
                    autocomplete="off" required>
                    <!-- <mat-error style="color: #f44336">
                      Please provide a valid passcode
                    </mat-error> -->
                    <mat-hint align="end">{{2-count || 0}}/2</mat-hint>
                </mat-form-field>
                <div style="margin-top: 5rem">
                    <button mat-raised-button 
                    color="primary"
                    (click)="login()">Help</button>
                    <button mat-raised-button 
                    color="warn" style ="margin-left:1rem"
                    (click)="register()"
                    routerLink="/data-collecter">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>

